body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: #CDD7DD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #ACBBC7; 
    border: none;
    color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.btn:hover {
    background-color: #7c848a; 
}


.row {
    margin: auto;
    width: 285;
    padding: 5px;
  }

.btn_num {
    background-color: #ACBBC7; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.btn_word {
    background-color: #ACBBC7; 
    border: none;
    color: white;
    padding: 17px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;    
}

.btn_num:hover {
    background-color: #7c848a; 
}

.btn_word:hover {
    background-color: #7c848a; 
}


.result_button1 {
    float: left;

}

.result_button2 {
    float: right;
}


.bigger {
    background-color: #ACBBC7;
    padding-left: 10px;
    padding-right: 10px;
    height: 275px;
    float: left;
}

.smaller {
    background-color: #ACBBC7;
    padding-left: 10px;
    padding-right: 10px;
    height: 275px;
    float: right;
}

.number_buttons {
    padding-left: 10px;
    padding-right: 10px;
    height: 285px;
    float: left;
}


.button1 {
    float: left;
}


.button2 {
    float: right;
}


.stats {
    top: 200px;
}